{% extends 'base.html' %}
{% block title %}Accueil{% endblock title %}
{% block content %}
<div class="text-center">
    <h1 class="mb-4">Bienvenue sur la plateforme IOT DHT11</h1>
    <p class="lead">Surveillez la température et l'humidité en temps réel.</p>
    <div class="mt-4">
        <a href="{% url 'table' %}" class="btn btn-primary">Voir la Table</a>
        <a href="{% url 'myChartTemp' %}" class="btn btn-secondary">Graphique Température</a>
        <a href="{% url 'myChartHum' %}" class="btn btn-info">Graphique Humidité</a>
    </div>
</div>
{% endblock content %}
