
  <div class="navbar">
    <nav >
        <h2 class="logo">SURVEILLANCE IOT:CAPTEUR DHT11</h2>

            <ul>
                    <li>  <a href="{% url 'table' %}" >Table</a></li>
                    <li>  <a href="{% url 'myChartTemp' %}" > graph of temperature</a></li>
                    <li>  <a href="{% url 'myChartHum' %}" >graph of humidity</a></li>
                    <li>  <a href="{% url 'json' %}" >Json</a></li>
                     <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a>
                    </li>

            </ul>

            <p> </p>


    </nav>
</div>
   <br>
   <br>
   <br>
  <br>